@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #0c0c0c;
    --card: #d5ccbd;
    --card-foreground: #111111;
    --popover: #f9f9f9;
    --popover-foreground: #0a0a0a;
    --primary: #5f050f;
    --primary-foreground: #ce4252;
    --secondary: #ddc6b8;
    --secondary-foreground: #e3edff;
    --muted: #6c757d;
    --muted-foreground: #f9f9f9;
    --accent: #6c757d;
    --accent-foreground: #f9f9f9;
    --destructive: #dc3545;
    --destructive-foreground: #f9f9f9;
    --border: #dee2e6;
    --input: #dee2e6;
    --ring: #007bff;
    --radius: 5px;
  }
}
