@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";
@import "./colors.css";

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .center-col {
    @apply flex flex-col items-center justify-center;
  }

  .text-gradient {
    background: radial-gradient(circle, #3f3f3f, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .title-gradient {
    background: radial-gradient(circle, #8e7049, #f2e6d4, #815b2e, #f2e6d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8e704921;
  }

  .secondarytext-gradient {
    background: radial-gradient(
      circle,
      var(--popover-foreground),
      var(--foreground)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .main-gradient {
    background: radial-gradient(
      circle,
      var(--primary-foreground),
      var(--primary)
    );
  }

  .secondary-gradient {
    background: radial-gradient(
      circle,
      var(--popover-foreground),
      var(--foreground)
    );
  }

  .contact-section {
    background: radial-gradient(circle, #000000, #000000, #000000d2);

    /* background: #000000; */
  }

  .hero-img {
    zoom: 1.4 !important;
  }

  .main-button {
    @apply bg-transparent border-[2px] border-solid border-card transition-[background] text-white rounded-md w-[50%] py-4 hover:bg-card hover:text-foreground;
  }

  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-section::before,
  .hero-section::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(200px);
    z-index: 0;
  }

  .hero-section::before {
    width: 300px;
    height: 300px;
    background: rgba(255, 39, 107, 0.7); /* Cor do primeiro círculo */
    bottom: 10%;
    left: 0;
  }

  .hero-section::after {
    width: 400px;
    height: 400px;
    background: rgba(116, 69, 26, 0.7); /* Cor do segundo círculo */
    top: 10%;
    right: 0;
  }

  .galeria-section::before,
  .galeria-section::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(200px);
    z-index: 0;
  }

  .galeria-section::before {
    width: 300px;
    height: 300px;
    background: rgba(226, 235, 255, 0.7); /* Cor do primeiro círculo */
    top: 10%;
    left: 0;
  }

  .galeria-section::after {
    width: 400px;
    height: 400px;
    background: rgba(255, 200, 148, 0.7); /* Cor do segundo círculo */
    bottom: 35%;
    right: 0;
  }

  .hair-info {
    border-radius: 8px;
    background: linear-gradient(
      to bottom,
      #00000000 0%,
      #00000070 50%,
      #000000 100%
    );
  }

  .hair-item:hover .hair-info {
    transform: translateY(0);
  }

  .whatsapp-btn {
    animation: pulse 2s infinite;
  }

  .whatsapp-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 211, 102, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: -1;
    animation: wave 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    }
    50% {
      transform: scale(1.1);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    }
  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.6;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.3);
      opacity: 0;
    }
  }

  .logo-pattern {
    background-image: url("https://res.cloudinary.com/dmceve2cp/image/upload/v1724885811/ISLAVA-27_yxtvnj.png");
    background-position: center;
    background-size: 70%;
    /* filter: grayscale(100%) brightness(0%); */
  }

  .react-tel-input .form-control {
    border-color: transparent !important;
  }

  .contact-form .contact-button {
    @apply w-full bg-secondary hover:bg-secondary hover:text-foreground text-foreground;
  }

  .contact-form .input-field {
    @apply w-full;
  }

  .contact-form .input,
  input {
    @apply w-full h-[50px] px-4 py-2 border border-gray-300 border-solid bg-gray-100 rounded-lg focus:!border-blue-500 focus-visible:border-gray-300;
  }

  .contact-form textarea {
    @apply w-full h-[50px] px-4 py-2 border border-gray-300 min-w-[100%] min-h-[150px] max-h-[55px] border-solid bg-gray-100 rounded-lg focus:!border-blue-500 focus-visible:border-gray-300;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
  }
}
